<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="add" method="post">
      <input type="hidden" name="id" value="<%= id %>">
      first name <input type="text" name="fname" value="<%= values.fname %>">
      <br><br><br>
      last name <input type="text" name="lname" value="<%= values.lname %>">
      <br><br><br>
      age <input type="number" name="age" value="<%= values.age %>">
      <br><br><br>
      <button type="submit" >submit</button>
    </form>
    <br><br><br>
    
    <table border="2">
      <tr>
        <th>No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>AGE</th>
        <!-- <th>Details</th> -->
        <th>Action</th>
        <th>Edit Data</th>
      </tr>
      <% for(let i=0; i < students.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= students[i].fname %></td>
        <td><%= students[i].lname %></td>
        <td><%= students[i].age %></td>
        <!-- <td><a href="/about/<%= i %>">Details</a></td> -->
        <td><a href="/delete?id=<%= students[i]._id %>">Delete</a></td>
        <td><a href="/?id=<%= students[i]._id %>">Edit</a></td>
      </tr>
      <% } %>
    </table>

  </body>
</html>
